@media(max-width: 1300px){
    #navbar ul li{
        margin: 0px 20px;
    }
    .donation-box{
        flex-direction: column;
    }
    .links a,.help a,.mail a{
        text-align: center;
    }
    .links li,.help li{
        text-align: center;
    }
    .contact h2,.links h2,.help h2{
        text-align: center;
    }
    .company{
        align-items: unset;
    }
}

@media(max-width: 1000px){
    #navbar ul li{
        font-size: 17px;
    }
    .left{
        width: 60%;
    }
}

@media(max-width: 1100px){
    .right h1{
        font-size: 2.1rem;
    }
    .right p{
        font-size: 1.1rem;
        line-height: 1.6rem;
    }
    .right{
        padding: 0px 40px;
    }
}

@media(max-width: 900px){
    .left{
        width: 70%;
    }
    #navbar ul li{
        margin: 10px 0px;
    }
    #navbar , #navbar ul{
        flex-direction: column;
        text-align: center;
        padding: 12px 0px;
    }
    #navbar{
        height: 350px;
        transition: all 0.4s ease-out;
    }

    #navbar .logo{
        margin: unset;
    }
    .hamburger{
        display: block;
    }
    .h-navbar{
        height: 35px !important;
    }
    .v-hidden{
        opacity: 0;
    }
    #about h1 , #activities h1 , #donation h1 , #contact h1{
        font-size: 2rem;
    }
    #about p{
        font-size: 1rem;
        font-weight: 300;
    }
    .btn{
        font-size: 14px;
    }
    .donation-content h2{
        font-size: 2.1rem;
    }
    .donation-content p{
        font-size: 1rem;
    }
    form input, textarea{
        font-size: 0.9rem;
    }
    input[type="submit"]{
        font-size: 17px;
    }
    .right{
        padding : unset;
    }
    #home,#about,#donation,#activities,.top-footer,#contact{
        padding: 40px 0px;
    }
}

@media(max-width: 740px){
    .left{
        width: 80%;
    }
    .right h1{
        font-size: 1.8rem;
        margin: 12px 0px;
    }
    .right p{
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

@media(max-width: 640px){
    .right p{
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
    .right h1{
        font-size: 1.6rem;
    }
    .left{
        width: 90%;
    }
    #about h1 , #activities h1 , #donation h1 , #contact h1{
        font-size: 1.7rem;
    }
    .donation-content h2{
        font-size: 1.9rem;
    }
    .donation-content p{
        font-size: 0.9rem;
    }
    .btn{
        padding: 5px 9px;
    }
    .program{
        margin: 20px 0px;
    }
    .bottom-footer{
        padding: 30px 10px;
        font-size: 1rem;
    }
}

@media(max-width: 500px){
    .left{
        width: 100%;
    }
    #navbar ul li{
        font-size: 16px;
    }
    .program-title h2{
        font-size: 1.45rem;
    }
    #about h1 , #activities h1 , #donation h1 , #contact h1{
        margin-bottom: 25px;
    }
    .program-desc p{
        font-size: 1rem;
    }
    .contact h2, .links h2, .help h2{
        font-size: 1.6rem;
    }
    .links a, .help a, .mail a {
        font-size: 1rem;
    }
    .top-footer p, .top-footer li, .help li{
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
}

@media(max-width: 425px){
    .donation-image img{
        width: 300px;
    }
    #programmes{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    form input,textarea{
        margin: 9px 0px;
        padding: 5px 7px;
    }
    .btn{
        margin: 15px 0px;
    }
    form div{
        margin: 7px 0px;
    }
    #home,#about,#donation,#activities,.top-footer,#contact{
        padding: 25px 0px;
    }
    input[type="submit"] {
        font-size: 16px;
    }
    .container{
        max-width: 90%;
    }
    .right h1{
        font-size: 1.45rem;
    }
    #about h1, #activities h1, #donation h1, #contact h1{
        font-size: 1.6rem;
    }
    #about p , .right p{
        font-weight: 300;
    }
    .icons svg{
        width: 19px;
        height: 19px;
    }
    .icons div{
        margin: 20px 8px;
    }
}