*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f1f1f1;;
}

/* Navigation Section CSS */

#navbar{
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    padding: 12px 0px;
    height: 60px;
}

#navbar ul li{
    list-style: none;
    margin: 0px 26px;
    font-size: 18px;
    position: relative;
}

#navbar ul li::after {
    content: "";
    height: 2px;
    width: 0px;
    position: absolute;
    background-color: #d53100;;
    left: 0;
    top: 28px;
    transition: 0.5s;
}

#navbar ul li:hover::after {
    width: 100%;
}

#navbar ul li a{
    text-decoration: none;
    color: black;
}

#navbar .logo{
    margin-left: 40px;
}

.hamburger{
    position: absolute;
    right: 15px;
    display: none;
}

.hamburger svg{
    width: 30px;
    height: 30px;
}

/* Home Section Css */

.container{
    max-width: 85vw;
    margin: 0px auto;
}

#home{
    /* border: 2px solid red; */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    align-items: center;
    padding: 70px 0px;
    flex-direction: column;
}

#home .left img{
    width: 100%;
    border-radius: 8px;
    opacity: 0.9;
}

.left{
    width: 50%;
    text-align: center;
}

.right{
    padding: 0px 70px;
}

.right h1{
    font-size: 2.5rem;
    color: #ff6e43;
    margin: 15px 0px;
}

.right p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 8px 0px;
    font-weight: 300;
}

/* About section css */

#about{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    /* border: 2px solid red; */
    padding: 75px 0px;
}

#about h1 , #activities h1 , #donation h1 , #contact h1{
    font-size: 2.3rem;
    margin-bottom: 35px;
    text-decoration: underline;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#about p{
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 300;
}

.btn{
    padding: 6px 13px;
    margin: 25px 0px;
    font-size: 17px;
    border: 1px solid #ff6e43;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    border-radius: 7px;
    transition: 0.4s ease-in;
}

.btn:hover{
    background-color: #ff6e43;
    color: white;
}

/* Our programmes section  */

#activities{
    padding: 75px 0px;
}

#programmes{
    display: grid;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
    grid-gap: 20px;
    text-align: center;
}

.program{
    margin: 30px 10px;
    box-shadow: 0px 4px 3px grey;
    padding: 5px;
    border-radius: 7px;
}

.top img{
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s ease-in;
}

.top img:hover{
    transform: scale(1.03);
}

.program-desc{
    height: 150px;
    overflow-y: scroll;
    scrollbar-width: none;
    line-height: 1.5rem;
    font-weight: 300;
}

.program-desc::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}

.program-title{
    margin: 10px 0px;
}

.program-title h2{
    font-size: 1.6rem;
    color: #d53100;
    text-align: center;
}

.program-desc p{
    font-size: 1.1rem;
}

/* Donation section css */

#donation {
    padding: 75px 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.donation-box{
    justify-content: space-between;
}

.donation-content{
    line-height: 2rem;
}

.donation-content h2{
    font-size: 2.5rem;
    margin: 24px 0px;
    font-weight: 400;
}

.donation-content p{
    font-size: 1.1rem;
}

/* Contact us CSS */

#contact {
    padding: 75px 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

form input,textarea{
    width: 100%;
    margin: 11px 0px;
    padding: 8px 7px;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    border: 1px solid black;
}

form input:focus , textarea:focus{
    outline: none;
    box-shadow: 0px 4px 10px gray;
}

form div{
    margin: 12px 0px;
}

input[type="submit"]{
    border: none;
    font-size: 19px;
    color: white;
    background-color: #ff6e43;
}

input[type="submit"]:hover{
    background-color: #ff6e43;
    color: black;
}

/* footer section css  */

footer{
    margin-top: 30px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.top-footer{
    padding: 75px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    justify-items: center;
}

.links a,.help a,.mail a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    transition: 0.5s ease;
}

.links li,.help li{
    list-style: none;
    margin: 10px 0px;
}

.address{
    line-height: 1.6rem;
    margin-top: 10px;
}

.contact h2,.links h2,.help h2{
    font-size: 1.8rem;
    margin-bottom: 15px;
    margin-top: 20px;
}

.top-footer p,.top-footer li,.help li{
    line-height: 1.8rem;
    font-size: 1.1rem;
}

.top-footer svg{
    position: relative;
    top: 9px;
}

.mail a:hover,.links a:hover,.help a:hover{
    color: #d53100;
}

.bottom-footer{
    padding: 30px 0px;
    text-align: center;
    font-size: 1.1rem;
}