*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f1f1f1;;
}

/* Navigation Section CSS */

#navbar{
    justify-content: space-between;
    align-items: center;
    min-height: 85px;
    /* border: 2px solid red; */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#navbar ul li{
    list-style: none;
    margin: 0px 26px;
    font-size: 18px;
    position: relative;
}

ul li::after {
    content: "";
    height: 2px;
    width: 0px;
    position: absolute;
    background-color: #d53100;;
    left: 0;
    top: 28px;
    transition: 0.5s;
}

ul li:hover::after {
    width: 100%;
}

#navbar ul li a{
    text-decoration: none;
    color: black;
}

#navbar .logo{
    margin-left: 40px;
}


/* Home Section Css */

.container{
    max-width: 85vw;
    margin: 0px auto;
}

#home{
    /* border: 2px solid red; */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    align-items: center;
    padding: 70px 0px;
    flex-direction: column;
}

#home .left img{
    width: 100%;
    border-radius: 8px;
    opacity: 0.9;
}

.left{
    width: 50%;
    text-align: center;
}

.right{
    padding: 0px 70px;
}

.right h1{
    font-size: 2.5rem;
    color: #ff6e43;
    margin: 15px 0px;
}

.right p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 8px 0px;
}

/* About section css */

#about{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    /* border: 2px solid red; */
    padding: 75px 0px;
}

#about h1 , #activities h1 , #donation h1{
    font-size: 2.3rem;
    margin : 30px 0px;
    text-decoration: underline;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#about p{
    font-size: 1.07rem;
    line-height: 1.7rem;
}

.btn{
    padding: 6px 13px;
    margin: 25px 0px;
    font-size: 17px;
    border: 1px solid #ff6e43;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    border-radius: 7px;
    transition: 0.4s ease-in;
}

.btn:hover{
    background-color: #ff6e43;
    color: white;
}

/* Our programmes section  */

#activities{
    padding: 75px 0px;
}

#programmes{
    display: grid;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
    grid-gap: 20px;
}

.program{
    /* border: 2px solid red; */
    margin: 30px 10px;
    box-shadow: 0px 3px 6px grey;
    padding: 5px;
}

.top img{
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s ease-in;
}

.top img:hover{
    transform: scale(1.03);
}

.program-desc{
    height: 150px;
    overflow-y: scroll;
    scrollbar-width: none;
    line-height: 1.5rem;
    font-weight: 300;
}

.program-desc::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}

.program-title{
    margin: 10px 0px;
}

.program-title h2{
    font-size: 1.6rem;
    color: #d53100;
}

.program-desc p{
    font-size: 1.1rem;
}

/* Donation section css */

#donation {
    padding: 75px 0px;
}

.donation-box{
    border: 2px solid red;
    justify-content: space-between;
    align-items: center;
}