*{
    margin: 0;
    padding: 0;
}

/* Navigation Section CSS */

#navbar{
    justify-content: space-between;
    align-items: center;
    min-height: 85px;
    /* border: 2px solid red; */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#navbar ul li{
    list-style: none;
    margin: 0px 30px;
    font-size: 18px;
    position: relative;
}

ul li::after {
    content: "";
    height: 2px;
    width: 0px;
    position: absolute;
    background-color: #d53100;;
    left: 0;
    top: 28px;
    transition: 0.5s;
}

ul li:hover::after {
    width: 100%;
}

#navbar ul li a{
    text-decoration: none;
    color: black;
}

#navbar .logo{
    margin-left: 40px;
}


/* Slider Css */

